<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>  
    <style>
        button {
            width: 250px;
            height: 55px;
            font-size: 14pt;
            margin: 16px;
        }
    </style>
</head>

<header></header>

<body>
    <div>
        <a href="/adminWeddings"><button>View Weddings</button></a>
        <a href="/adminUsers"><button>View Users</button></a>
        <a href="/adminLetters"><button>View Letter Sent</button></a>
        <a href="/adminContributions"><button>View Money Transfers</button></a>
        <a href="/adminHasWeddings"><button>View Wedding Owners</button></a>
    </div>
</body>

</html>

