<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Edit User</title>
    <style>
    </style>
</head>

<header></header>

<button id="backButton" style="float: left;">Go Back</button><br><br>
<body>
    <div>
        <form  id="userForm" action="/createUser?username=admin" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" required><br><br>
            <label for="">Email</label>
            <input type="text"name="email"  required><br><br>
            <label for="FirstName">First Name</label>
            <input type="text"name="FirstName" required><br><br>
            <label for="LastName">Last Name</label>
            <input type="text"name="LastName"  required><br><br>
            <label for="UserPassword">Password</label>
            <input type="text"name="UserPassword"  required><br><br>
            <input type="submit" value="Submit Changes">
        </form>
    </div>
</body>

</html>

